.polls-layout-transparent {
    /*background: url('/assets/transparent.jpg') center / cover;*/
}
.polls-layout-transparent .mdl-layout__header,
.polls-layout-transparent .mdl-layout__drawer-button {
    color: white;
}
.mdl-card.poll {
    margin:auto;
    width:600px;
    margin-bottom: 50px;
}

.mdl-card.poll > form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mdl-spinner {
    margin: auto;
}

.mdl-card.poll > form > .mdl-card__supporting-text > button {
    margin:auto;
    margin-top: 50px;
}

.mdl-card.poll > form > .mdl-card__supporting-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 0;
}

.mdl-card.poll > .mdl-card__title > .mdl-card__title-text {
    user-select: none;
}

#answers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mdl-textfield{
    padding-bottom: 10px;
    padding-top: 20px;
}

.mdl-textfield__label:after {
    bottom: 10px;
}

.mdl-textfield {
    width: 450px;
}

.mdl-textfield.title > .mdl-textfield__label {
    font-size: 22px;
}

.mdl-textfield.title > .mdl-textfield__input {
    padding: 8px 0;
    font-size: 25px;
}

.mdl-textfield.animate {
    transform-style: preserve-3d;
    transform-origin: 0 0;
    transform: rotateX(-80deg);
    animation: flip .8s ease-in-out forwards;
}

@-webkit-keyframes flip {
    100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@-moz-keyframes flip {
    100% { -moz-transform: rotateX(0deg); opacity: 1; }
}

@keyframes flip {
    100% { transform: rotateX(0deg); opacity: 1; }
}

.answer {
    background-color: #9E9E9E;
    transition: all 0.5s;
    position: relative;
    height: 44px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.answer > .content {
    background-color: #2196F3;
    color: #FFFFFF;
    transition: all 0.5s;
    position: absolute;
    height: 44px;
}

.answer > .content > .nameContent > .name{
    padding: 13px 0 13px 13px;
    user-select: none;
}

.answer > .content:hover {
    background-color: #1976D2;
}

.answer > .content > .nameContent {
    position: absolute;
    width: 100%;
}

.answer > .content > .nameContent > .name {
    position: absolute;
    width: 554px;
}

.answer:last-child {
    margin-bottom: 0;
}

.answer:hover {
    background-color: #616161;
}

.answer:hover > .content {
    background-color: #1976D2;
}

.answer.mdl-color--grey-500:hover {
    background-color: #616161 !important;
}

.answer > p {
    padding: 10px;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.poll > div.mdl-card__supporting-text {
    width: 94.6%;
}

#add-answer{
    position: fixed;
    right:20px;
    bottom:20px;
}

.mdl-dialog{
    width: fit-content;
}

.mdl-card {
    min-height: inherit;
}

.mdl-dialog__content > .mdl-textfield > .mdl-textfield__label {
    top:0;
}

.width--full{
    width: 100%;
}

.width--half{
    width:50%;
}

#realtime {
    position: fixed;
    left:0;
    bottom:0;
}

.mdl-layout__drawer-button > .material-icons {
    margin-top: 10px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .mdl-card.poll {
        width: 100%;
    }
    .mdl-textfield {
        width: 100%;
    }
}
